# Segmenting and Clustering Neighborhoods in Toronto | Part-2

1. Start by creating a new Notebook for this assignment.

2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.
For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

3. To create the above dataframe:

. 
- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood.
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
.


4. Submit a link to your Notebook on your Github repository. (10 marks)

Note: There are different website scraping libraries and packages in Python. For scraping the above table, you can simply use pandas to read the table into a pandas dataframe.

Another way, which would help to learn for more complicated cases of web scraping is using the BeautifulSoup package. Here is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/

The package is so popular that there is a plethora of tutorials and examples on how to use it. Here is a very good Youtube video on how to use the BeautifulSoup package: https://www.youtube.com/watch?v=ng2o98k983k

Use pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into the above pandas dataframe.

#### Adding Latitude and Longitude Co-ordinates to the DataFrame

Installing Library

In [1]:
!pip install geocoder

Requirement already satisfied: geocoder in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (1.38.1)
Requirement already satisfied: requests in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: ratelim in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: six in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: decorator in /Users/fadibarakat/opt/anaconda3/lib/python3.8/site-packages (from ratelim->geocoder) (4.4.2)

Importing Libraries

In [12]:
import pandas as pd
import numpy as np
import geocoder

Reading the Toronto.csv which created on Part 1 Notebook

In [4]:
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [5]:
print(df.shape)
df.describe()

(103, 3)

       Postalcode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M6C  North York    Downsview
freq            1          24            4

In [13]:

def get_latilong(postal_code):
    lati_long_coords = None
    g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
    lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

### Retrieving Postal Code Co-ordinates

In [ ]:
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [ ]:
df2 = pd.read_csv('toronto_part2.csv')
df2

### Adding Columns Latitude & Longitude

In [16]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

TypeError: object of type 'NoneType' has no len()

In [19]:
df.head(15)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81139,-79.19662
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17470
3,M1G,Scarborough,Woburn,43.76812,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76944,-79.23892
5,M1J,Scarborough,Scarborough Village,43.74446,-79.23117
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.72582,-79.26461
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.71289,-79.28506
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.72360,-79.23496
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.69510,-79.26466
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.75998,-79.26940
11,M1R,Scarborough,"Wexford, Maryvale",43.75075,-79.30054
12,M1S,Scarborough,Agincourt,43.79452,-79.26708
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan",43.78491,-79.29722
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo...",43.81781,-79.28044

In [20]:
df.to_csv('toronto_part2.csv',index=False)